@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

#tema {
  background: orange;
  text-align: left;
  padding: 5px 5px;
  text-align: center;
  position: fixed;
  top: 5px;
  left: 5px;
  font-size: 15px;
  border-radius: 0.5%;
}

#container {
  background: #fff;
  width: 80%;
  margin: 15px auto;
  border: 1px solid;
  border-radius: 9px;
  background-image: url("img3.png");
  background-repeat: no-repeat;
  background-position: center;
}

.request-h2 {
  background-color: blue;
  text-align: center;
  line-height: 100px;
  margin-top: 0%;
  /* padding: 1%; */
  color: rgb(245, 235, 235);
  border-radius: 10px;
}

form {
  margin-left: 2%;
  width: 70%;
}

fieldset {
  border: 0px;
}

input[type="text"],
input[type="date"],
input[type="number"],
#country,
input[type="email"],
input[type="password"],
textarea {
  border: 1px solid #9645c1;
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}

input[type="radio"] {
  margin-top: 10px;
}

#submitButton {
  background: #c1beba;
  padding: 15px 10px;
  float: left;
  cursor: pointer;
  margin-right: 15px;
}

#submitButton:hover {
  filter: brightness(115%);
}
#part-1 label:after {
  content: " *";
  color: red;
}

#part-2 label:after {
  content: " *";
  color: red;
}

textarea {
  resize: none;
}
.input:hover {
  background-color: black;
}
/*Media Query */

@media all and (min-width: 0px) and (max-width: 320px) {
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 20px;
  }
  #container {
    width: 90%;
    margin-top: 20%;
  }
  #tema {
    width: 100%;
    left: 0.5px;
    top: 0;
  }
  #resetButton {
    float: left;
  }
}

@media all and (min-width: 321px) and (max-width: 480px) {
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 20px;
  }
  #container {
    width: 90%;
    margin-top: 13%;
  }
  #tema {
    width: 100%;
    left: 0.5px;
    top: 0;
  }
  #resetButton {
    float: left;
  }
}

@media all and (min-width: 481px) and (max-width: 568px) {
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 20px;
  }
  #container {
    width: 90%;
    margin-top: 10%;
  }
  #tema {
    width: 100%;
    left: 0.5px;
    top: 0;
  }
}

@media all and (min-width: 569px) and (max-width: 768px) {
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 20px;
  }
  #container {
    width: 90%;
    margin-top: 7%;
  }
  #tema {
    width: 100%;
    left: 0.5px;
    top: 0;
  }
}
